<footer class="footer">
	<div class="container">
		<section class="contact">
			<h2>Contact</h2>
			<a title="{{ site.email }}" href="mailto:{{ site.email }}">{{ site.email }}</a>
		</section>
		<section class="info">
			<h2>Info</h2>
			<ul>
				<li><a title="CV" href="{{ site.cv }}" target="_blank">CV</a></li>
				<li><a title="Scholar" href="{{ site.scholar }}" target="_blank">Scholar</a></li>
				<li><a title="Study Log" href="{{ site.studylog }}" target="_blank">Study Log - Notion</a></li>
			</ul>
		</section>
	</div>
</footer>
